<div class="row">
  <div class="col-md-12">
    
    <!--Community Table-->
    <div class="col-md-4 col-md-offset-4">
      <div class="jumbotron text-center signup-header">
        <h2>The Community</h2>
      </div>
  
      <!-- Table -->
      <table class="table well text-center">
        
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Conversations</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= user.name %></td>
                <td>
                  <% if user.conversations.count == 1 %>
                    1 conversation started
                  <% else %>
                    <%= user.conversations.count %> conversations started
                  <% end %>
                </td>
                <td>
                  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                              "data-sid" => current_user.id, "data-rip" => user.id %>
                </td>
              </tr>
          <% end %>
        </tbody>
        
      </table> <!-- End Table -->
    </div> <!-- End Community Table -->
    
    <%= render 'common/conversations' %>
    
  </div>
</div>