// Sign Up Form
.signup-header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-top: 20px !important;
  background-color: #d4eb86 !important;
  border: 2px solid #aad80e !important;
}

form#new_user.new_user div.well {
  background-color: #e5f3b6;
  border: 2px solid #aad80e;
}

// Login Form
