@import "font-awesome-sprockets";
@import "font-awesome";

// Navbar
.navbar {
  border-bottom: 1px solid #999;
}
nav.navbar.navbar-inverse {
  margin-bottom: 0px;
}

.fa.fa-commenting-o {
  color: white;
  padding-right: 15px;
}

// Logo
#logo {
  float: left;
  font-size: 1.7em;
  color: #eaeaea;
  letter-spacing: -1px;
  padding-right: 0px;
}

#logo:hover {
  color: #aad80e;
  text-decoration: none;
}

// Login Button
a.btn.btn-success.login {
  color: white;
  
}